<!-- create form -->



  <div class="row">
    <div class="transparentdiv col-xs-10 col-xs-offset-1">
    <br />
      <h3 class="header3 text-center">Looking for a movie?</h3>
      <h3 class="header3 text-center">Can't remember the full title?</h3>
      <h3 class="header3 text-center">Or perhaps you want to know the director, or actors..</h3>
      <h3 class="header3 text-center">Well, movie buff, we can help.</h3>

    <br />
      <form action="/results" method="POST" class="form" role="form">
        <!-- <label for="movie">Search for:</label>  -->
        <div class="form-group">
          <input id="movie" name="movie" type="text" class="form-control" placeholder="&nbsp;Search here, Press enter"/>
        </div>
      </form>
      <h3 class="header3 text-center">Search for (or part of) the title and let's see what we can pull up.</h3>
     <br />
     <br />
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
       <br />
       <br />
       <br /> 
      	<p class="text-center">tools used: </p>
      	<p class="text-center">Sinatra</p>
      	<p class="text-center">Typhoeus</p>
      	<p class="text-center">OMDB API</p>
      	<p class="text-center">Bootstrap</p>

      </ul>
      </div>
    </div>
  </div>



<!-- http://lh4.googleusercontent.com/-KJDhxhCo_9A/UV4KOWdUdCI/AAAAAAAAQno/Sp9FdXsm2Ao/s1600/fear-tv-lady.jpg -->

<!-- http://flikie.s3.amazonaws.com/ImageStorage/84/844b62292bdb4d248fd7db5d685afb23.jpg -->

<!-- http://midatlanticnostalgiaconvention.com/wp-content/uploads/2012/02/Drive-In-Movie-Theater.jpg -->

<!-- no pic or 404 -->
<!-- http://static2.wikia.nocookie.net/__cb20090415054057/muppet/images/4/4e/Statler-waldorf.jpg -->