<!-- create form -->
<h3>search any movie to the whole gist of it all.</h3>

<form action="/results" method="POST">
  <label for="movie">Search for:</label>
  <input id="movie" name="movie" type="text" />
  <input name="commit" type="submit" value="Search" /> 


</form>