<!Doctype = html>

<html>

	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Sacramento|Didact+Gothic' rel='stylesheet' type='text/css'>
	</head>


	<body> 
      <div class="container bgindex">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <br />
        <a href="/"><h1 class="text-right top"> my movie finder </h1></a>
      <br />
    </div>
</div>



        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
	      <%= yield %>  
	      </div>
        </div>

      </div>
	</body>


</html>