<!Doctype = html>

<html>

	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

	</head>


	<body> 
      <h1> You, movie buff, you. </h2>
	  <%= yield %>  

	</body>


</html>