<!-- this page will list my results -->
<!-- Ideally pictures -->

<h3>Here are the movies that match your query</h3>

<% @movie_array.each do |movie| %>

<table>
  <tr>
    <td align=right>
    	<%= movie['Year'] %>
    	&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    <td>
    	&nbsp;&nbsp;
    	<a href="/movie/<%= movie['imdbID'] %>">
    	<%= movie['Title'] %>
    	</a>
    </td>
    <td>
    </td>
  </tr>

</table>
<% end %>

<!---  http://top1walls.com/walls/anime-manga/television-test-pattern--1573785-1188x891.jpg  -->